body {
  margin: 0;
}

#osd-container {
  width: 100vw;
  height: 100vh;
}

.intro {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px 16px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #333;
  z-index: 1000;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
